@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}
